#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Setup
Exec=/usr/libexec/dank-blue-build/auto-setup
Icon=utilities-terminal
Terminal=false
Categories=Utility;