#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Setup
Exec=/usr/libexec/dank-blue-build/post-login-setup/auto
Icon=utilities-terminal
Terminal=false
Categories=Utility;