# See https://wiki.hypr.land/0.54.0/FAQ/#some-of-my-apps-take-a-really-long-time-to-open

[Unit]
Description=Restart portals for Hyprland
Before=hyprland-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hyprland/restart-portals

[Install]
WantedBy=hyprland-session.target